@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#fill1 {
	margin-top: 20px;
	height: 122px;
	background-color: #BAB497;
	.border-radius(6px 6px 0 0);
}

#fill2 {
	height: 122px;
	background-color: #E8E4C0;
}

#main {
	background-color: #EDEAE1;
	color: #666666;
}

#main #left {
	padding: 30px;
	bottom: 0px;
}

#main #left h1 {
	color: #666666;
	font-size: 42px;
	font-weight: normal;
}

#main #left h3 {
	color: #666666;
	font-size: 20px;
	font-weight: normal;
}


#main #right {
	padding: 30px;
}

#main #right p {
	margin-bottom: 25px;
}

#main a {
	color: #6B6755;
}

#footer {
	padding: 30px;
	height: 162px;
	background-color: #D79A7C;
	color: white;
	.border-radius(0 0 6px 6px);
}








